			#outerBody{
				color:#000!important;background-color:#F5F5DC!important;
			}
			
			.info-text
			{
				height:130px
			}
			.info-card
			{
				margin-top: 16px;
				margin-bottom: 16px;
				width: 80%;
				margin-left: auto;
				font-family:sans-serif;
				margin-right:auto;
				color:#000!important;background-color:#C5DCA0!important;
			}
			.swipe-area 
			{
				position: absolute;
				width: 75px;
				left: 0;
				top: 0;
				height: 100%;
				z-index: 0;
			}
			.AWAD_title
			{
				font-size: 10pt; color: white; font-weight: bold;
			}
			.AWAD_quotation
			{
				text-decoration: none; color: green;
			}
			.AWAD_byline
			{
				font-style: italic;
			}
			#stickyHeaderL {
				width: 100%;
				background:black;
				color:#fff!important;background-color:#000!important
				margin-bottom: 10px;
			}
			#unStickyHeader{
				color:#fff!important;background-color:#3A4E48!important;
				
			}
			#stickyHeaderS{
				color:#fff!important;background-color:#556B2F!important;

			}
			#mySideBar{
				color:#000!important;background-color:#BDB76B!important;
			}
			#headerInfo{
				color:#fff!important;background-color:#5B7553!important;
			}
			#footer-bar{
				color:#000!important;background-color:#CBD4C2!important;
			}
			body
			{
				font-family: 'Source Sans Pro', sans-serif;